colorama==0.4.6
greenlet==3.5.6
hexdump==3.3
iniconfig==2.3.0
packaging==26.3
pluggy==1.6.0
Pygments==2.21.0
pytest==9.1.1
python-evtx==0.8.1
PyYAML==6.0.3
SQLAlchemy==2.0.54
typing_extensions==4.16.0
